.single-comment {
    margin-top: .5em;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    max-width: 500px;
    padding: .3em;
}

.single-comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em;
}