.single-comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: .5em;
    border-radius: 20px;
    background-color: white;
    padding: .25em;
    width: 90%;
}