.messages-container {
    display: flex;
    flex-direction: column;
}
.messages-container h1 {
    text-align: center;
}

.messages-container div {
    margin-top: .7em;
}

.messages-container-send {
    align-self: flex-end;
    padding: 1em;
}