.messages-container {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
}
.messages-container h1 {
    text-align: center;
}

.messages-container div {
    margin-top: 1em;
}

.messages-container-send {
    align-self: flex-end;
}