.post-container {
    margin-top: 2em;
    border-radius: 20px;
}

.post-container h2, a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

.post-container h2:hover, a:hover {
    color: blue;
}

.post-details {
    border-radius: 20px;
    background-color: white;
    padding: 1em;
}

.post-top {
    display: flex;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.post-likes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

.post-likes div {
   
}

.post-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.add-comment-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.add-comment-container input {
    border: none;
    border: 1px solid gray;
}

.add-comment-container button {
    background-color: rgb(255, 252, 74);
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
}

.single-comment {
    text-align: center;
    margin-top: .5em;
    border-radius: 20px;
    background-color: white;
    padding: .25em;
    width: 80%;
}