.post-container {
    border: 1px solid red;
    margin-top: 2em;
    border-radius: 20px;
}

.post-top {
    display: flex;
}

.post-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
    width: 80%;
}

.post-likes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid ;
    width: 20%;
}

.post-likes div {
    border: 1px solid red;
}

.post-comments {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
}

.single-comment {
    text-align: center;
    border: 1px solid gray;
    margin-top: .5em;
}