.post-container {
    border-radius: 20px;
    max-width: 500px;
    margin: 2em auto 0;
    width: 100%;
}

.post-container h2, a {
    text-decoration: none;
    color: black;
}

.post-details {
    border-radius: 20px;
    background-color: white;
    padding: 1em;
}

.post-top {
    display: flex;
    justify-content: space-between;
    margin: 0 2em;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-likes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

.post-comments {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.add-comment-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.add-comment-container input {
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    margin-right: 1em;
}

.add-comment-container button {
    background-color: rgb(255, 252, 74);
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
}

.post-edit-button {
    border: none;
        border-radius: 5px;
        padding: .2em;
        background-color: rgb(189, 189, 189);
        color: black;
}

.post-delete-button {
        border: none;
        border-radius: 5px;
        padding: .2em;
        background-color: brown;
        color: white;
}