.profile-container {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 1em;
}

.profile-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-likes {
    width: 45%;
    max-width: 250px;
    align-self: flex-start;
}

.profile-dislikes {
    width: 45%;
    max-width: 250px;
    align-self: flex-start;
}

.profile-picture {
    width: 100%;
    max-width: 250px;
    margin-top: 2em;
    border-radius: 50px;
    border: 2px solid black;
}

.edit-button {
    border: none;
    border-radius: 5px;
    padding: .2em;
    background-color: rgb(141, 141, 141);
    color: white;
}

.edit-name-button {
    border: none;
    border-radius: 5px;
    padding: .2em;
    background-color: brown;
    color: white;
}

.edit-button:hover {
    cursor: pointer;
}

.add-button {
    padding: .2em .4em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.add-button:hover {
    cursor: pointer;
}

@media (min-width: 1000px) {
    .profile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .profile-image-container {
        width: 50%;
    }

    .profile-picture {
        max-width: 500px;
    }

    .profile-details {
        width: 50%;
        justify-content: space-around;
    }

}