.like-container input {
    margin-top: .5em;
}

.main-like-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.single-like {
}

.edit-like-container {
    display: flex;
    flex-direction: column;
}

.edit-button {
    margin-left: 1em;
}

.update-button {
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    padding: .5em;
    background-color: yellow;
    color: black;
}

.delete-button {
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    padding: .5em;
    background-color: red;
    color: white;
}