.profile-container {
    text-align: center;
    background-color: white;
    border: 1px solid red;
}

.profile-details {
    display: flex;
    justify-content: space-around;
}

.profile-likes {
    width: 50%;
}

.all-likes p {
    margin-top: 1em;
}

.profile-dislikes {
    width: 50%;
}

.profile-container img {
    width: 100%;
}

.profile-container .edit-name {
    width: 15%;
    border: none;
    border-radius: 5px;
    padding: .2em;
    background-color: brown;
    color: white;
}