.profile-container {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    padding: 1em;
}

.profile-details {
    display: flex;
    justify-content: space-around;
}

.profile-likes {
    width: 50%;
}

.all-likes p {
    margin-top: 1em;
}

.profile-dislikes {
    width: 50%;
}

.profile-container img {
    width: 100%;
    margin-top: 2em;
    border-radius: 50px;
    border: 2px solid black;
}

.profile-container .edit-name {
    border: none;
    border-radius: 5px;
    padding: .4em;
    background-color: brown;
    color: white;
}

.edit-button {
    border: none;
    border-radius: 5px;
    padding: .2em;
    background-color: brown;
    color: white;
}

.add-button {
    padding: .4em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}