.profile-container {
    text-align: center;
    border: 1px solid red;
}

.profile-details {
    display: flex;
    justify-content: space-around;
}

.profile-likes {
    border: 1px solid green;
    width: 50%;
}

.profile-dislikes {
    border: 1px solid blue;
    width: 50%;
}

.profile-container img {
    width: 100%;
}

.profile-container .edit-name {
    width: 100%;
    border: 1px solid rgb(0, 64, 68);
    background-color: brown;
    color: white;
}