.dislike-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.dislike-container button {
    padding: .2em .4em;
    margin-top: .5em;
}

.dislike-container input {
    margin-top: .5em;
}

.dislike-container .delete {
    margin-left: 1em;
}