@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 1em;
  min-height: 100vh;
  background-color: hwb(0 90% 10%);
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.fa-heart:hover {
  color: red;
}

.fa-thumbs-down:hover {
  color: gray;
}